<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Bad_Broker_Test_Task.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings/>
  <connectionStrings/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <applicationSettings>
    <Bad_Broker_Test_Task.Properties.Settings>
      <setting name="BaseCurrency" serializeAs="String">
        <value>USD</value>
      </setting>
      <setting name="TradingCurrencies" serializeAs="String">
        <value>RUB,EUR,GBP,JPY</value>
      </setting>
      <setting name="BaseCurrencyParameterSpelling" serializeAs="String">
        <value>base={0}</value>
      </setting>
      <setting name="TradingCurrenciesParameterSpelling" serializeAs="String">
        <value>symbols={0}</value>
      </setting>
      <setting name="ExchangeRatesRequestPattern" serializeAs="String">
        <value>{0}{1}?{2}&amp;{3}</value>
      </setting>
      <setting name="RequestRatesDaysStep" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ExchangeRatesDataSource" serializeAs="String">
        <value>http://api.fixer.io/</value>
      </setting>
      <setting name="CurrenciesSeparators" serializeAs="String">
        <value>,</value>
      </setting>
      <setting name="ResultReportPattern" serializeAs="String">
        <value> {0} обмен {1} {2} на {3}, обратный обмен {4} , прибыль {5} </value>
      </setting>
    </Bad_Broker_Test_Task.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Bad_Broker_Test_Task.Service1AspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Bad_Broker_Test_Task.CurrencyExchangeServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="Bad_Broker_Test_Task.Service1">
        <endpoint address="" behaviorConfiguration="Bad_Broker_Test_Task.Service1AspNetAjaxBehavior"
          binding="webHttpBinding" contract="Bad_Broker_Test_Task.Service1" />
      </service>
      <service name="Bad_Broker_Test_Task.CurrencyExchangeService">
        <endpoint address="" behaviorConfiguration="Bad_Broker_Test_Task.CurrencyExchangeServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="Bad_Broker_Test_Task.CurrencyExchangeService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>